.selectable-area {
  width: 100%;
  height: 100%;

  .selecting {
    border: 1px dotted #FFC300;
  }

  .selected {
    border: 1px solid rgb(42, 175, 223);
  }

  .react__drag__rotate__rotater {
    display: none;
  }

  .selected + .react__drag__rotate__rotater-wrap > .react__drag__rotate__rotater {
    display: block;
  }

  .selectable-selectbox {
    z-index: 9000;
    position: absolute;
    cursor: default;
    background: dimgray;
    opacity: 0.3;
    border: 1px solid grey;
  }
}